<!DOCTYPE HTML>
<html lang="en">

  <%= render 'head' %>
  
  <body>
	  <%= render 'header' %>
	  <section id="main">
		  
		  <% if @item[:posts].length > 0 %>
			  <table>
				<% @item[:posts].each do |p| %>
			  	<tr>
			  		<td>
			  			<span><%= p.attributes[:created_at] %></span>
			  		</td>
			  		<td>
			  			<a href="<%= relative_path_to(p) %>"><%= p.attributes[:title] %></a>
			  		</td>
			  		<td>
			  			<a href="<%= relative_path_to(p) %>#disqus_thread"><%= p.attributes[:title] %></a>
			  		</td>
			  	</tr>
			  	<% end %>
			  </table>
			  
			  <script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'jamoma'; // required: replace example with your forum shortname

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function () {
			        var s = document.createElement('script'); s.async = true;
			        s.type = 'text/javascript';
			        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			    }());
			    </script>
		  <% end %>
		  
		  <!--p>Tags: <%= tags_for(@item) %></p-->
		  
		  <%= render 'footer' %>
	  </section> <!-- id="main" -->  
	  <%= render 'sidebar' %>
	  <%= render 'google_analytics' %>
  </body>
</html>
